<div class="card {{variant}} {{#if isHoverable}}hoverable{{/if}} {{#if isPressable}}pressable{{/if}}">
  {{#if showImage}}
  <div class="card-image">
    <div class="card-image-placeholder"></div>
  </div>
  {{/if}}
  <div class="card-body">
    <div class="card-title-placeholder"></div>
    <div class="card-description-placeholder"></div>
  </div>
</div>